body{
    max-width: 55vw;
    border: 2px solid #333;
    padding: 3rem;
    margin: 40px auto;
    font-family: sans-serif;
    color: #333;
    line-height: 1.5;
}

hr {
    width: 100%;
    border: none;
    border-top: 2px solid #333;
    margin-bottom: 1rem;
}

.name-title {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.1rem;
    color: #4CAF50;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
}

.blue-text {
    color: #1B72C2;
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
}

address {
    font-style: normal;
    font-size: 0.95rem;
    color: #444;
}

p {
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
}


ul {
    margin-top: 0.5rem;
    padding-left: 1.5rem;
}

li {
    margin-bottom: 0.3rem;
}